{% extends 'customer/base.html' %}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-1">
        <div class="col-md-10 col-sm-12 offset-md-1 p-4 text-center">
            <strong><h1>Culture at MunchIn</h1></strong>
            <p><h5>We strive to create an open, engaging and employee-friendly workplace.We push ourselves beyond our abilities when faced with tough times. When we foresee uncertainty, we address it only with flexibility.Feedback is never taken personally, we break it into positive pieces and strive to work on each and every element even more effectively.It’s always ‘us’ over ‘me’. We don’t lose ourselves in pride or confidence during individual successes, but focus on being our simple selves in every which way.</h5></p>
            <p><h2><u>The Spirit</u></h2></p>
            <p><h5>A comfortable working atmosphere that follows a flat and open culture along with a great office space was why we were voted as one of India's top firms to work in 2020 by LinkedIn! We know you work best when you are happy.</h5></p>
            <p><h2><u>The Environment</u></h2></p>
            <p><h5>When your goal is to change the way the country eats, you need all the help you can get. MunchIn is an equal-opportunity employer offering competitive salaries, comprehensive health benefits and equity opportunities.People here don’t work ‘for’ MunchIn, they work ‘with’ MunchIn. We treat every problem as our own, take accountability and drive the change.It’s not our abilities that show who we truly are - it’s our choices. We aim to get these right, at least in the majority of the cases.</h5></p>
            <p><h2><u>Our Journey</u></h2></p>
            <p><h5>Back in 2012, all it took was an idea to enable digital access to thousands of restaurant menus. Three passionate foodies who hated waiting in lines, drove around Delhi to collect menus from restaurants, scan them and put them online. Their idea has now grown into the vision that drives our team of 5000+ people everyday.</h5></p>
        </div>
    </div>
</div>
{% endblock content %}