{% extends 'customer/base.html' %}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
            <h1><div style="color: #584B4F">Online Food Delivery Service</div></h1>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="card col-md-5 col-sm-12 offset-md-1 p-4 text-center" style="background-color: #584B4F">
            <h2><div style="color: #FFC31F">Place an Order!</div></h2>
            <a href="{% url 'order' %}" class="btn btn-outline-light">Order Now!</a>
        </div>
    </div>
</div>
{% endblock content %}